<html>
  <title><%= page_title.reverse.push('toto').join(' ~ ') %></title>
  <%= yield %>
  <ul id="tags-cloud">
    <% for tag in tags_cloud %>
      <li><%= tag %></li>
    <% end %>
  </ul>
</html>

